<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" [ifAuthorize]="['Leave.CREATE']">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <!-- END PAGE TITLE -->
        </div>
        <div class="hidden-xs">
            <ul class="page-breadcrumb breadcrumb ">
                <li>
                    <span>{{ 'LINK_UP' | translate }}</span>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span> {{ 'APPLY_LEAVES' | translate }}</span>
                    <i class="fa fa-circle"></i>
                </li>
            </ul>
        </div>
        <div class="row">
            <!-- START HOLIDAY PARTICULARS COMPONENT -->
            <div class="col-lg-4 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <h4> {{ 'REQUESTOR_DETAILS' | translate }} </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td> Employee ID </td>
                                        <td> 24568 </td>
                                    </tr>
                                    <tr>
                                        <td> Employee Name </td>
                                        <td> Person1 LName </td>
                                    </tr>
                                    <tr>
                                        <td> Department </td>
                                        <td> EBS </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h4> {{ 'ACTIVE_ON_PROJECTS' | translate }} </h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Project</th>
                                        <th>Manager</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> RMS </td>
                                        <td> Sagar Shelar </td>
                                    </tr>
                                    <tr>
                                        <td> PLSV 1 </td>
                                        <td> Some Person </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END HOLIDAY PARTICULARS COMPONENT  -->

            <!-- START HOLIDAY LIST COMPONENT BY PRIMENG -->
            <div class="col-lg-8 col-xs-12 col-sm-12">
                <div class="col-md-12 col-sm-12">
                    <div class="portlet light">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Apply Leave</h4>
                                <div class="pull-right">
                                    <h5 class="warning">
                                        <span>{{warning}}</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label"> {{ 'LEAVE_TYPE' | translate }} </label>
                                    <div>
                                        <p-dropdown [options]="leaves" (onChange)="leaveTypeChanged($event)" [(ngModel)]="selectedLeave" [autoWidth]="true" [required]="true"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label"> {{ 'NUMBER_LEAVES' | translate }} </label>
                                    <div>
                                        <input type="text" pInputText [(ngModel)]="showNumDays" [disabled]="true" styleClass="styleForm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label"> {{ 'START_DATE' | translate }} </label>
                                    <div>
                                        <p-calendar dateFormat="dd/mm/yy" (onSelect)="updateEndDate($event)" [(ngModel)]="start" [disabled]="startDateDisabled" [showIcon]="true"></p-calendar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label"> {{ 'END_DATE' | translate }} </label>
                                    <div>
                                        <p-calendar dateFormat="dd/mm/yy" [minDate]="start" [(ngModel)]="end" [disabled]="endDateDisabled" [showIcon]="true"></p-calendar>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label"> {{ 'REASON' | translate }} </label>
                                    <div>
                                        <textarea [(ngModel)]="reason" class="fullWidth"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <p-dataTable [value]="finalLeaveData" [responsive]="true">
                                        <p-column field="leave" header=" {{ 'LEAVE_TYPE' | translate }} " [sortable]="false"></p-column>
                                        <p-column field="numDays" header=" {{ 'NO_LEAVES' | translate }} " [sortable]="false"></p-column>
                                        <p-column field="reason" header=" {{ 'REASON' | translate }} " [sortable]="false"></p-column>
                                        <p-column field="start" header=" {{ 'START_DATE' | translate }} " [sortable]="false"></p-column>
                                        <p-column field="end" header=" {{ 'END_DATE' | translate }} " [sortable]="false"></p-column>
                                        <p-column header=" {{ 'DELETE' | translate }} " styleClass="col-button" field="color">
                                            <template let-day="rowData" pTemplate type="body">
                                                <button type="button" (click)="delLeaveRec(day)" pButton icon="fa-edit"></button>
                                            </template>
                                        </p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button class="btn btn-outline" (click)="addLeaves($event)"> {{ 'ADD_LEAVE' | translate }} </button>
                                    <button class="btn btn-outline"> {{ 'SUBMIT' | translate }} </button>
                                    <button class="btn btn-outline"> {{ 'CANCEL' | translate }} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END HOLIDAY LIST COMPONENT BY PRIMENG -->
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->