<!-- BEGIN TOP NAVIGATION MENU -->
<div class="top-menu">
  <ul class="nav navbar-nav pull-right">
    <li class="separator hide"> </li>
    
    <!-- BEGIN NOTIFICATION DROPDOWN -->
    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
    <!-- DOC: Apply "dropdown-hoverable" class after "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
    <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
    <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
     <notification [name]="'notification'" [icon]="'icon-bell'" [badge]="'badge badge-success'" [datalist]="[1,2,3,4]"></notification>
    
    </li>
    <!-- END NOTIFICATION DROPDOWN -->
    <li class="separator hide"> </li>
    <!-- BEGIN INBOX DROPDOWN -->
    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
    <li class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar">
     <notification [name]="'notification'" [icon]="'icon-envelope-open'" [badge]="'badge badge-danger'" [datalist]="[1,2,4,3,4]"></notification>
     
    </li>
    <!-- END INBOX DROPDOWN -->
    <li class="separator hide"> </li>
    <!-- BEGIN TODO DROPDOWN -->
    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
    <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
     <notification [name]="'task'" [icon]="'icon-calendar'" [badge]="'badge badge-primary'" [datalist]="[1,2,3,4,5,7]"></notification>
    </li>
    <!-- END TODO DROPDOWN -->
    <!-- BEGIN USER LOGIN DROPDOWN -->
    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
    <li class="dropdown dropdown-user dropdown-dark  hidden-xs">
      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <span class="username username-hide-on-mobile"> Nick </span>
        <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->        
            <i class="fa fa-user icon-size"></i>
        </a>
      <ul class="dropdown-menu dropdown-menu-default">
        <li>
          <a routerLink="/my-profile" routerLinkActive="active">
            <i class="icon-user"></i>{{ 'MY_PROFILE' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/change-password" routerLinkActive="active">
            <i class="icon-wrench"></i>{{ 'CHANGE_PASSWORD' | translate }}
          </a>
        </li>
        <li class="divider"> </li>
        <li>
          <a href="page_user_lock_1.html">
            <i class="icon-lock"></i> Lock Screen </a>
        </li>
        <li>
          <a  (click)="logout()">
            <i class="icon-key"></i> Log Out </a>
        </li>
      </ul>
    </li>
    <!-- END USER LOGIN DROPDOWN -->
    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
    <li class="dropdown dropdown-extended quick-sidebar-toggler  hidden-xs">
      <span class="sr-only">Toggle Quick Sidebar</span>
      <i class="icon-logout"></i>
    </li>
    <!-- END QUICK SIDEBAR TOGGLER -->
  </ul>
</div>
<!-- END TOP NAVIGATION MENU -->