<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h4>Leaves</h4>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <span>LINK UP</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span> Leaves</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span> Apply Leave</span>
            </li>
        </ul>
        <div class="row">
            <!-- START HOLIDAY PARTICULARS COMPONENT -->
            <div class="col-lg-4 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <h4>Requestor Details</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td> Employee ID </td>
                                        <td> 24568 </td>
                                    </tr>
                                    <tr>
                                        <td> Employee Name </td>
                                        <td> Person1 LName </td>
                                    </tr>
                                    <tr>
                                        <td> Department </td>
                                        <td> EBS </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h4>Leave Details</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td> Leave Type </td>
                                        <td> Leave </td>
                                    </tr>
                                    <tr>
                                        <td> No. of Leaves </td>
                                        <td> 3 </td>
                                    </tr>
                                    <tr>
                                        <td> Reason </td>
                                        <td> Personal </td>
                                    </tr>
                                    <tr>
                                        <td> Start Date </td>
                                        <td> 01-10-2016 </td>
                                    </tr>
                                    <tr>
                                        <td> End Date </td>
                                        <td> 10-10-2016 </td>
                                    </tr>
                                    <tr>
                                        <td> Action </td>
                                        <td> - </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END HOLIDAY PARTICULARS COMPONENT  -->

            <!-- START HOLIDAY LIST COMPONENT BY PRIMENG -->
            <div class="col-lg-8 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <h4>Requestor Details</h4>
                        <p-dataTable [value]="requests" [responsive]="true">
                            <p-column field="project" header="Project" [sortable]="true"></p-column>
                            <p-column field="manager" header="Manager" [sortable]="true"></p-column>
                            <p-column field="status" header="Status" [sortable]="true"></p-column>
                            <p-column field="comments" header="Comments" [sortable]="true"></p-column>
                        </p-dataTable>

                        <div class="form-group">
                            <label class="control-label">Comments</label>
                            <textarea autoresize="autoResize" cols="30" rows="3" class="form-control"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button class="btn btn-outline"> Approve </button>
                                    <button class="btn btn-outline"> Reject </button>
                                    <button class="btn btn-outline"> Close </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END HOLIDAY LIST COMPONENT BY PRIMENG -->

        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->