<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h4>Leaves</h4>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <span>LINK UP</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span> Leaves</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>My Leaves</span>
            </li>
        </ul>
        <div class="row">
            <!-- START HOLIDAY PARTICULARS COMPONENT -->
            <div class="col-lg-3 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th> Leave Type </th>
                                        <th> Taken </th>
                                        <th> Balance </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> Leave </td>
                                        <td> 3 </td>
                                        <td> 2 </td>
                                    </tr>
                                    <tr>
                                        <td> Half Day Leave </td>
                                        <td> 0 </td>
                                        <td> - </td>
                                    </tr>
                                    <tr>
                                        <td> Absent </td>
                                        <td> 2 </td>
                                        <td> - </td>
                                    </tr>
                                    <tr>
                                        <td> Half Day Absent </td>
                                        <td> 0 </td>
                                        <td> - </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a class="btn green btn-outline"  > Apply For Leave </a>
                    </div>

                </div>
            </div>
            <!-- END HOLIDAY PARTICULARS COMPONENT  -->

            <!-- START HOLIDAY LIST COMPONENT BY PRIMENG -->
            <div class="col-lg-9 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <p-dataTable [value]="leaves" selectionMode="single" [paginator]="true" [rows]=(servRows) [responsive]="true">
                        <p-column field="employee" header="Employee" [sortable]="true"></p-column>
                        <p-column field="startdate" header="Start Date" [sortable]="true"></p-column>
                        <p-column field="enddate" header="End Date" [sortable]="true"></p-column>
                        <p-column field="numberofleaves" header="Number of Leaves" [sortable]="true"></p-column>
                        <p-column field="status" header="Status" [sortable]="true"></p-column>
                        <p-column styleClass="col-button" field="color">
                            <template let-car="rowData" pTemplate type="body">
                                <button type="button" pButton [routerLink]="['/about']" icon="fa-edit"></button>
                            </template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
            <!-- END HOLIDAY LIST COMPONENT BY PRIMENG -->
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->