<div class="portlet-body form">
    <form class="form-horizontal" role="form">
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-2 col-xs-4 control-label personal-info-label">{{ 'EMPLOYEE_ID' | translate }}</label>
                <div class="col-md-4 col-xs-8">
                    <label class="control-label">10000</label>
                </div>
                <label class="col-md-2 col-xs-4 col-xs-4 control-label personal-info-label">{{ 'EMPLOYEE_NAME' | translate }}</label>
                <div class="col-md-4 col-xs-8">
                    <label class="control-label">Nick</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-xs-4 control-label personal-info-label">{{ 'CURRENT_ADDRESS' | translate }}</label>
                <div class="col-md-4 col-xs-8">
                    <label class="control-label">Current Address1</label>
                </div>
                <label class="col-md-2 col-xs-4 control-label personal-info-label">{{ 'CONTACT_NO' | translate }}</label>
                <div class="col-md-4 col-xs-8">
                    <label class="control-label">1234567890</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-xs-4 control-label personal-info-label">{{ 'EMAIL' | translate }}</label>
                <div class="col-md-4 col-xs-8">
                    <label class="control-label">email@abc.com </label>
                </div>
                <label class="col-md-2 col-xs-4 control-label personal-info-label">{{ 'DATE_OF_BIRTH' | translate }}</label>
                <div class="col-md-4 col-xs-8">
                    <label class="control-label">01/01/0001</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-xs-4 control-label personal-info-label">{{ 'ESPL_PF_NO' | translate }}</label>
                <div class="col-md-4 col-xs-8">
                     <button pButton type="text" icon="fa-plus"></button>
                </div>
                <label class="col-md-2 col-xs-4 control-label personal-info-label">{{ 'PREVIOUS_PF_NO' | translate }}</label>
                <div class="col-md-4 col-xs-8">
                     <button pButton type="text" icon="fa-plus"></button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-xs-4 control-label personal-info-label">{{ 'CAREER_START_DATE' | translate }}</label>
                <div class="col-md-4 col-xs-8">
                    <button pButton type="text" icon="fa-plus"></button>
                </div>
                <label class="col-md-2 col-xs-4 control-label personal-info-label">{{ 'LAST_WORKING_DAY' | translate }}</label>
                <div class="col-md-4 col-xs-8">
                     <button pButton type="text" icon="fa-plus"></button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-xs-4 control-label personal-info-label">{{ 'EMERGENCY_CONTACT_NAME' | translate }}</label>
                <div class="col-md-4 col-xs-8">
                    <button pButton type="text" icon="fa-plus"></button>
                </div>
                <label class="col-md-2 col-xs-4 control-label personal-info-label">{{ 'BLOOD_GROUP' | translate }}</label>
                <div class="col-md-4 col-xs-8">
                    <label class="control-label">B+</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 col-xs-4 control-label personal-info-label">{{ 'EMERGEANCY_CONTACT_NO' | translate }}</label>
                <div class="col-md-4 col-xs-8">
                    <label class="control-label">52534534356</label>
                </div>
                <label class="col-md-2 col-xs-4 control-label personal-info-label">{{ 'SKYPE_ID' | translate }}</label>
                <div class="col-md-4 col-xs-8">
                    <button pButton type="text" icon="fa-plus"></button>
                </div>
            </div>
        </div>
    </form>
</div>