<div class="portlet-body">
    <div class="row">
        <div class="col-md-6">
            <span class="personal-info-label">{{ 'EMPLOYEE_ID' | translate }} :</span>
            <span>10000</span>
        </div>
        <div class="col-md-6">
            <span class="personal-info-label">{{ 'EMPLOYEE_NAME' | translate }} :</span>
            <span>Nick</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span class="personal-info-label">{{ 'CURRENT_ADDRESS' | translate }} :</span>
            <span>current Address1</span>
        </div>
        <div class="col-md-6">
            <span class="personal-info-label">{{ 'CONTACT_NO' | translate }} :</span>
            <span>1054325345</span>
            <i class="fa fa-pencil icon-size"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span class="personal-info-label">{{ 'EMAIL' | translate }} :</span>
            <span>abc@abc.com</span>
        </div>
        <div class="col-md-6">
            <span class="personal-info-label">{{ 'DATE_OF_BIRTH' | translate }} :</span>
            <span>01/01/0001</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span class="personal-info-label">{{ 'ESPL_PF_NO' | translate }} :</span>
            <i class="fa fa-plus-circle icon-size"></i>
        </div>
        <div class="col-md-6">
            <span class="personal-info-label">{{ 'PREVIOUS_PF_NO' | translate }} :</span>
            <i class="fa fa-plus-circle icon-size"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span class="personal-info-label">{{ 'CAREER_START_DATE' | translate }} :</span>
            <span>02/02/2000</span>
            <i class="fa fa-pencil icon-size"></i>
        </div>
        <div class="col-md-6">
            <span class="personal-info-label">{{ 'LAST_WORKING_DAY' | translate }} :</span>
            <i class="fa fa-plus-circle icon-size"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span class="personal-info-label">{{ 'EMERGENCY_CONTACT_NAME' | translate }} :</span>
            <span>23432455</span>
            <i class="fa fa-pencil icon-size"></i>
        </div>
        <div class="col-md-6">
            <span class="personal-info-label">{{ 'BLOOD_GROUP' | translate }} :</span>
            <span>B+</span>
            <i class="fa fa-pencil icon-size"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span class="personal-info-label">{{ 'EMERGEANCY_CONTACT_NO' | translate }} :</span>
            <span>5345345</span>
            <i class="fa fa-pencil icon-size"></i>
        </div>
        <div class="col-md-6">
            <span class="personal-info-label">{{ 'SKYPE_ID' | translate }} :</span>
            <span>ewrwer</span>
            <i class="fa fa-pencil icon-size"></i>
        </div>
    </div>
</div>